.nav {
    background-color: rgb(219, 9, 90);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    padding: 0 0 0 32px ;
    font-size: 4vw;
}

button {
    padding:16px;
    margin: 32px;
    color: white;
    background-color: rgb(219, 9, 90);
    border-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 1000;
}